---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% assign page_icon = '/assets/icon-blog.png' %}

{% assign apple_touch_icon_120 = '/assets/apple-touch-icon-blog-120x120.png' %}
{% assign apple_touch_icon_152 = '/assets/apple-touch-icon-blog-152x152.png' %}

{% assign page_title = page.title | append: ' - ' | append: site.blog_title | append: ' - ' | append: site.blog_subtitle %}
{% assign page_description = page.description %}

{% assign ld_json_type = 'Blog' | append: page.title %}

{% include head-v2.html %}

<body>

	{% assign header_link_href = site.blog_baseurl %}
	{% assign header_link_text = site.blog_title %}

	{% assign menu1_href = "/" | relative_url %}
	{% assign menu1_text = site.title %}

	{% include header-v2.html %}

	<main class="page-content" aria-label="Content">
	<div class="wrapper">

		<article class="post h-entry">

			<header class="post-header">
				<h1 class="post-title p-name">{{ page.title | escape }}</h1>
			</header>

			<div class="post-content e-content">

				{% if page.grouping == 'categories' %}
					{% assign groups = site.categories %}
				{% endif %}
				{% if page.grouping == 'tags' %}
					{% assign groups = site.tags %}
				{% endif %}

				{% for group in groups %}
				  <h2 id="{{ group[0] | replace: ' ', '-' }}">{{ group[0] }}</h2>
				  <ul>
				    {% for post in group[1] %}
				      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
				    {% endfor %}
				  </ul>
				{% endfor %}

				<hr>
				<p><strong><em>Share</em></strong></p>
				<ul class="social-links-share">
					<li><a href="https://twitter.com/intent/tweet?text={{ page_title | url_encode }}&url={{ canonical_url | url_encode }}"><span class="social-icon-twitter"></span>on Twitter</a></li>
				</ul>

			</div>
			
			{%- if site.disqus.shortname -%}
			  {%- include disqus_comments.html -%}
			{%- endif -%}
			
		</article>

	</div>
	</main>

	{%- include footer.html -%}

</body>

</html>
