---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% assign page_icon = '/assets/icon-blog.png' %}

{% assign apple_touch_icon_120 = '/assets/apple-touch-icon-blog-120x120.png' %}
{% assign apple_touch_icon_152 = '/assets/apple-touch-icon-blog-152x152.png' %}

{% assign page_title = page.title | append: ' - ' | append: site.blog_title | append: ' - ' | append: site.blog_subtitle %}
{% assign page_description = page.description %}

{% assign ld_json_type = 'BlogPosting' %}

{% include head-v2.html %}

<body>

	{% assign header_link_href = site.blog_baseurl %}
	{% assign header_link_text = site.blog_title %}

	{% assign menu1_href = '/' | relative_url %}
	{% assign menu1_text = site.title %}

	{% include header-v2.html %}

	<main class="page-content" aria-label="Content">
	<div class="wrapper">

		<article class="post h-entry">
			
			<header class="post-header">
				<h1 class="post-title p-name">{{ page.title | escape }}</h1>
				<p class="post-meta">
					<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
						{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
						{{ page.date | date: date_format }}
					</time>

					{% assign post_author_name = site.author.name %}
					{% assign post_author_url  = site.author.url %}
					{%- if page.author.name and page.author.url -%}
						{% assign post_author_name = page.author.name %}
						{% assign post_author_url  = page.author.url %}
					{%- endif -%}
					• <a href="{{ post_author_url }}"><span class="p-author h-card">{{ post_author_name }}</span></a>
				</p>
			</header>

			<div class="post-content e-content">

				{{ content }}

				{% if page.resources %}
					<hr>
					<p><strong><em>Resources</em></strong></p>
					<ul>
					{% for resource in page.resources %}
						<li>{{ resource | markdownify | strip_newlines | remove: '<p>' | remove: '</p>' }}</li>
					{% endfor %}
					</ul>
				{% endif %}

				{% if page.categories or page.tags %}
					<hr>
					<p><strong><em>Categories &amp; Tags</em></strong></p>
					<ul>
						{% for category in page.categories %}
							<li><a href="{{ '/blog/categories/' | relative_url }}#{{ category | replace: ' ', '-' }}">{{ category }}</a></li>
						{% endfor %}
						{% for tag in page.tags %}
							<li><a href="{{ '/blog/tags/' | relative_url }}#{{ tag | replace: ' ', '-' }}">{{ tag }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if page.categories %}
					
					{% assign firstCategory = page.categories | first %}
					{% assign relatedPosts = "" | split: ',' %}
					
					{% for relatedPost in site.categories[firstCategory] %}
						{% unless relatedPost.url == page.url %}
							
							{% for pageTag in page.tags %}
							{% for relatedTag in relatedPost.tags %}
								
								{% if pageTag == relatedTag %}
									{% assign relatedPosts = relatedPosts | push: relatedPost %}
									{% break %}
								{% endif %}
								
							{% endfor %}
							{% endfor %}
							
						{% endunless %}
					{% endfor %}
					
					{% assign relatedPosts = relatedPosts | uniq %}
					
					{% if relatedPosts.size > 0 %}
						<hr>
						<p><strong><em>Related</em></strong></p>
						<ul>
						{% for relatedPost in relatedPosts %}
							<li><a href="{{ relatedPost.url | relative_url }}">{{ relatedPost.title }}</a></li>
						{% endfor %}
						</ul>
					{% endif %}
				{% endif %}

				<hr>
				<p><strong><em>Share</em></strong></p>
				<ul class="social-links-share">
					<li><a href="https://twitter.com/intent/tweet?text={{ page_title | url_encode }}&url={{ canonical_url | url_encode }}"><span class="social-icon-twitter"></span>on Twitter</a></li>
				</ul>

			</div>
			
			{%- if site.disqus.shortname -%}
			  {%- include disqus_comments.html -%}
			{%- endif -%}
			
		</article>

	</div>
	</main>

	{%- include footer.html -%}

</body>

</html>
