<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% assign page_icon = '/assets/icon-index.png' %}
{% assign page_title = site.title | append: ' - ' | append: site.subtitle %}
{% assign page_description = site.description %}

{% assign ld_json_type = 'WebSite' %}

{% include head-v2.html %}

<body>

	{% assign header_link_href = site.blog_baseurl %}
	{% assign header_link_text = site.blog_title %}

	{% assign menu1_href = "/" | relative_url %}
	{% assign menu1_text = site.title %}

	{% include header-v2.html %}

	<main class="page-content" aria-label="Content">
	<div class="wrapper">

		<article class="post">

			<header class="post-header">
				<h1 class="post-title">404</h1>
				<p class="post-meta">
					<span class="dt-published">
						Page not found :(
					</span>
				</p>
			</header>

			<div class="post-content">
				<p>The requested page could not be found.</p>
			</div>
		</article>

	</div>
	</main>

	{%- include footer.html -%}

</body>

</html>
