
{% assign page_title = page_title | escape %}
{% assign page_description = page_description | escape %}

{% assign canonical_url = site.url | append: page.url | replace: 'index.html','' %}

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_description }}" />
	<link rel="canonical" href="{{ canonical_url }}">

	<meta property="og:title" content="{{ page_title }}" />
	<meta property="og:description" content="{{ page_description }}" />
	<meta property="og:url" content="{{ canonical_url }}" />

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "{{ canonical_url }}",
			"name": "{{ page_title }}",
			"description": "{{ page_description }}"
		}
	</script>

	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

</head>