
<header class="site-header">
	<div class="wrapper">

		{%- if header_link_href -%}
			<a class="site-title" href="{{ header_link_href | relative_url }}">{{ header_link_text | escape }}</a>
		{%- endif -%}

		<nav class="site-nav">
			<input type="checkbox" id="nav-trigger" class="nav-trigger" />
			<label for="nav-trigger">
				<span class="menu-icon">
					<img width="24" height="24" alt="Menu" src="{{ '/assets/menu-icon-menu.png' | relative_url }}">
				</span>
				<span hidden>Menu</span>
			</label>

			<div class="trigger">
				<a class="page-link" href="{{ menu1_href }}">{{	menu1_text | escape }}</a>
				<a class="page-link" title="Search" href="{{ '/search/' | relative_url }}"><img width="24" height="24" alt="Search" src="{{ '/assets/menu-icon-search.png' | relative_url }}"></a>
			</div>

		</nav>

	</div>
</header>