
{% assign page_title = page_title | escape %}
{% assign page_description = page_description | escape %}

{% assign author_name = site.author.name | escape %}
{% assign author_url = site.author.url %}

{% assign canonical_url = page.url | absolute_url | replace: 'index.html','' %}

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if page_icon %}
		<link rel="icon" href="{{ page_icon | relative_url }}">
	{% endif %}

	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_description }}">

	<meta name="author" content="{{ author_name }}">

	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="alternate" type="application/atom+xml" href="{{ 'feed.xml' | absolute_url }}" title="{{ site.blog.title }} - Feed">

	<meta property="og:title" content="{{ page_title }}" />
	<meta property="og:description" content="{{ page_description }}" />
	<meta property="og:url" content="{{ canonical_url }}" />
	<meta property="og:image" content="{{ page_icon | relative_url }}" />

	{% if ld_json_type == 'WebSite' %}
	<meta property="og:type" content="website" />
	
	<meta name="keywords" content="{{ site.keywords }}">
	
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"name": "{{ page_title }}",
			"description": "{{ page_description }}",
			"url": "{{ canonical_url }}",
			"author": {
				"@type" : "Person",
				"name" : "{{ author_name }}",
				"url" : "{{ author_url }}"
			}
		}
	</script>
	{% endif %}

	{% if ld_json_type == 'Blog' %}
	<meta property="og:type" content="website" />
	
	<meta name="keywords" content="{{ site.blog.keywords }}, {{ site.keywords }}">
	
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Blog",
			"name": "{{ page_title }}",
			"description": "{{ page_description }}",
			"url": "{{ canonical_url }}",
			"author": {
				"@type" : "Person",
				"name" : "{{ author_name }}",
				"url" : "{{ author_url }}"
			}
		}
	</script>
	{% endif %}

	{% if ld_json_type == 'BlogPosting' %}
	<meta property="og:type" content="article" />
	
	<meta name="keywords" content="{{ page.categories | join: ', ' }}, {{ page.tags | join: ', ' }}">
	
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{ canonical_url }}"
			},
			"headline": "{{ page_title }}",
			"description": "{{ page_description }}",
			"url": "{{ canonical_url }}",
			"datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
			"dateCreated": "{{ page.date | date: "%Y-%m-%d" }}",
			"dateModified": "{{ page.date | date: "%Y-%m-%d" }}",
			"author": {
				"@type" : "Person",
				"name" : "{{ author_name }}",
				"url" : "{{ author_url }}"
			}
		}
	</script>
	{% endif %}

	<script type="application/ld+json">
		{
			"@context" : "http://schema.org",
			"@type" : "Person",
			"name" : "{{ author_name }}",
			"url" : "{{ author_url }}"
		}
	</script>

	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

</head>