
RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.cristian\.sulea\.net [NC]
RewriteRule ^(.*)$ http://cristian.sulea.net/$1 [L,R=301]

ErrorDocument 404 /404/

<IfModule mod_mime.c>

  # Web fonts
    AddType application/font-woff                       woff
    AddType application/font-woff2                      woff2
    AddType application/vnd.ms-fontobject               eot

    # Browsers usually ignore the font media types and simply sniff
    # the bytes to figure out the font type.
    # http://mimesniff.spec.whatwg.org/#matching-a-font-type-pattern

    # Chrome however, shows a warning if any other media types are used
    # for the following two font types.

    AddType application/x-font-ttf                      ttc ttf
    AddType font/opentype                               otf

    AddType image/svg+xml                               svg svgz

</IfModule>

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

  # HTML
    ExpiresByType text/html                             "access plus 0 seconds"

  # Favicon (cannot be renamed!) and cursor images
    ExpiresByType image/x-icon                          "access plus 1 week"

  # CSS
    ExpiresByType text/css                              "access plus 1 year"

  # Web feeds
    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

  # Web fonts
    ExpiresByType application/font-woff                 "access plus 1 month"
    ExpiresByType application/font-woff2                "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
    ExpiresByType application/x-font-ttf                "access plus 1 month"
    ExpiresByType font/opentype                         "access plus 1 month"
    ExpiresByType image/svg+xml                         "access plus 1 month"

  # Data interchange
    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"

</IfModule>


#
# temporary redirects from old to new blog pages

Redirect 301 /blog.php /blog/

RewriteCond %{QUERY_STRING} p=2016-04-25-regular-expression-regex [NC]
RewriteRule ^blog\.php$ /blog/regular-expression-regex/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2016-03-10-basic-linux-commands [NC]
RewriteRule ^blog\.php$ /blog/basic-linux-commands/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2016-02-03-css-font-size-px-vs-em-vs-percent-vs-pt [NC]
RewriteRule ^blog\.php$ /blog/css-font-size-px-vs-em-vs-percent-vs-pt/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2016-01-13-options-settings-preferences-configurations [NC]
RewriteRule ^blog\.php$ /blog/options-settings-preferences-configurations/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-11-20-how-to-set-chrome-as-default-pdf-viewer [NC]
RewriteRule ^blog\.php$ /blog/how-to-set-chrome-as-default-pdf-viewer/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-10-07-async-and-defer-non-blocking-javascript-with-html5 [NC]
RewriteRule ^blog\.php$ /blog/async-and-defer-non-blocking-javascript-with-html5/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-10-06-how-to-change-the-logon-screen-on-windows-7 [NC]
RewriteRule ^blog\.php$ /blog/how-to-change-the-logon-screen-on-windows-7/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-09-07-the-jvm-architecture [NC]
RewriteRule ^blog\.php$ /blog/the-jvm-architecture/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-08-14-design-patterns-overview [NC]
RewriteRule ^blog\.php$ /blog/design-patterns-overview/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-08-07-api-vs-spi [NC]
RewriteRule ^blog\.php$ /blog/api-vs-spi/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-08-03-cron-expressions-tutorial [NC]
RewriteRule ^blog\.php$ /blog/cron-expressions-tutorial/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-07-10-basic-package-management-on-linux-debian [NC]
RewriteRule ^blog\.php$ /blog/basic-package-management-on-linux-debian/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-07-02-dokuwiki-url-rewriting-in-apache [NC]
RewriteRule ^blog\.php$ /blog/dokuwiki-url-rewriting-in-apache/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-07-01-php-list-files-and-directories [NC]
RewriteRule ^blog\.php$ /blog/php-list-files-and-directories/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-06-26-parse-files-recursively-using-java-7 [NC]
RewriteRule ^blog\.php$ /blog/parse-files-recursively-using-java-7/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-05-29-gmail-advanced-search-operators [NC]
RewriteRule ^blog\.php$ /blog/gmail-advanced-search-operators/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-04-03-set-the-look-and-feel-in-java [NC]
RewriteRule ^blog\.php$ /blog/set-the-look-and-feel-in-java/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-03-10-java-cryptography [NC]
RewriteRule ^blog\.php$ /blog/java-cryptography/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-02-15-java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path [NC]
RewriteRule ^blog\.php$ /blog/java-lang-unsatisfiedlinkerror-no-dll-in-java-library-path/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2015-01-20-do-not-catch-nullpointerexception-or-any-of-its-ancestors [NC]
RewriteRule ^blog\.php$ /blog/do-not-catch-nullpointerexception-or-any-of-its-ancestors/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-12-15-extract-mkv-matroska-subtitles-on-linux-ubuntu [NC]
RewriteRule ^blog\.php$ /blog/extract-mkv-matroska-subtitles-on-linux-ubuntu/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-11-12-xstream-object-references [NC]
RewriteRule ^blog\.php$ /blog/xstream-object-references/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-11-11-xstream-quick-start-json-tutorial [NC]
RewriteRule ^blog\.php$ /blog/xstream-quick-start-json-tutorial/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-11-10-xstream-quick-start-tutorial [NC]
RewriteRule ^blog\.php$ /blog/xstream-quick-start-tutorial/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-10-26-portable-svn-repository [NC]
RewriteRule ^blog\.php$ /blog/portable-svn-repository/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-10-16-install-eclipse-on-linux-ubuntu [NC]
RewriteRule ^blog\.php$ /blog/install-eclipse-on-linux-ubuntu/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-09-09-install-maven-repository-on-linux-debian-sonatype-nexus [NC]
RewriteRule ^blog\.php$ /blog/install-maven-repository-on-linux-debian-sonatype-nexus/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-08-04-install-proxy-server-on-linux-debian-squid-web-proxy-cache [NC]
RewriteRule ^blog\.php$ /blog/install-proxy-server-on-linux-debian-squid-web-proxy-cache/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-08-03-install-ftp-server-on-linux-debian-vsftpd [NC]
RewriteRule ^blog\.php$ /blog/install-ftp-server-on-linux-debian-vsftpd/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-07-16-the-singleton-pattern [NC]
RewriteRule ^blog\.php$ /blog/the-singleton-pattern/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-07-11-install-java-openjdk-on-linux [NC]
RewriteRule ^blog\.php$ /blog/install-java-openjdk-on-linux/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-07-10-install-java-oracle-on-linux-ubuntu [NC]
RewriteRule ^blog\.php$ /blog/install-java-oracle-on-linux-ubuntu/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-06-28-hibernate-exception-a-collection-with-cascade-all-delete-orphan-was-no-longer-referenced-by-the-owning-entity-instance [NC]
RewriteRule ^blog\.php$ /blog/hibernate-exception-a-collection-with-cascade-all-delete-orphan-was-no-longer-referenced-by-the-owning-entity-instance/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-06-27-hibernate-one-to-many-annotation [NC]
RewriteRule ^blog\.php$ /blog/hibernate-one-to-many-annotation/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-06-26-hibernate-entity-superclass-mappedsuperclass [NC]
RewriteRule ^blog\.php$ /blog/hibernate-entity-superclass-mappedsuperclass/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-05-25-install-google-chrome-on-linux-fedora [NC]
RewriteRule ^blog\.php$ /blog/install-google-chrome-on-linux-fedora/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-05-24-install-google-chrome-on-linux-ubuntu [NC]
RewriteRule ^blog\.php$ /blog/install-google-chrome-on-linux-ubuntu/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-04-15-mount-virtualbox-shared-folders-on-linux [NC]
RewriteRule ^blog\.php$ /blog/mount-virtualbox-shared-folders-on-linux/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-04-14-linux-mount-cd-rom-or-dvd [NC]
RewriteRule ^blog\.php$ /blog/linux-mount-cd-rom-or-dvd/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-03-05-install-bash-completion-package-on-linux [NC]
RewriteRule ^blog\.php$ /blog/install-bash-completion-package-on-linux/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-03-04-linux-set-up-http-proxy-for-gnuwget [NC]
RewriteRule ^blog\.php$ /blog/linux-set-up-http-proxy-for-gnuwget/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-03-03-linux-set-up-http-proxy-for-apt-get [NC]
RewriteRule ^blog\.php$ /blog/linux-set-up-http-proxy-for-apt-get/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-02-03-software-development-roles [NC]
RewriteRule ^blog\.php$ /blog/software-development-roles/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-02-02-code-review [NC]
RewriteRule ^blog\.php$ /blog/code-review/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2014-01-14-disable-browser-caching-with-meta-html-tags [NC]
RewriteRule ^blog\.php$ /blog/disable-browser-caching-with-meta-html-tags/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2013-08-06-upgrade-samsung-galaxy-s2-to-android-4-0-4 [NC]
RewriteRule ^blog\.php$ /blog/upgrade-samsung-galaxy-s2-to-android-4-0-4/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2013-07-06-root-samsung-galaxy-s2-on-android-4-0-4 [NC]
RewriteRule ^blog\.php$ /blog/root-samsung-galaxy-s2-on-android-4-0-4/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2013-06-05-multiple-properties-files-in-spring-context-xml [NC]
RewriteRule ^blog\.php$ /blog/multiple-properties-files-in-spring-context-xml/ [L,R=301,QSD]

RewriteCond %{QUERY_STRING} p=2013-05-27-spring-quick-start-tutorial [NC]
RewriteRule ^blog\.php$ /blog/spring-quick-start-tutorial/ [L,R=301,QSD]