---
layout: page
---

{%- if site.blog.size > 0 -%}
  {% for post in site.blog reversed %}

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}


    <h2>
      <a class="post-title-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h2>

    <blockquote><span>{{ post.date | date: date_format }}</span></blockquote>

    {{ post.excerpt }}

  {%- endfor -%}


<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}

{{ content }}

