---
layout: page
---

{%- if site.blog.size > 0 -%}
  {%- for post in site.blog reversed -%}

    <h2 class="blog-post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h2>

    <blockquote class="blog-post-meta"><span>{{ post.date | date: site.date.format }}</span> •  java, xyz, etc</blockquote>

    {{ post.excerpt }}

  {%- endfor -%}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}

{{ content }}

