---
layout: page
---

{%- if site.blog.size > 0 -%}

  {%- for post in site.blog reversed -%}

    <article itemscope itemtype="http://schema.org/BlogPosting">

      <header>
        <h2 itemprop="name headline" class="blog-post-title">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        •
        <time itemprop="datePublished" class="blog-post-meta" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: site.date.format }}
        </time>
      </header>

      <p itemprop="description">
        {{ post.content | strip_html | strip_newlines | truncate: 300 }}
      </p>

    </article>

  {%- endfor -%}

  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p-->

{%- endif -%}
