---
layout: base
---

<h1>{{ site.title | escape }}</h1>
<blockquote>
  {{- site.description | escape -}}
  {%- include social-links.html -%}
</blockquote>

{{ content }}

<h2>Education</h2>

{% for education in page.educations %}
<p><strong>{{ education.school | escape }}</strong><br>
  {{ education.degree | escape }}<br>
  <em>{{ education.period | escape }}</em></p>
{% endfor %}

<h3>Languages</h3>

<ul>
  {% for language in page.languages %}
  <li>
    <p>{{ language.title | escape }}<br>
      - {{ language.level | escape }}</p>
  </li>
  {% endfor %}
</ul>

<h2>Skills and Expertise</h2>

<ul class="word-cloud">
  {% for skill in page.skills %}
  {% assign skillSplit = skill | split: ", " %}
  {% if skillSplit.size > 1 %}
  <li style="font-size: 1.{{ skillSplit[1] }}rem;">
    {% else %}
  <li>
    {% endif %}
    {{ skillSplit[0] | escape }}</li>
  {% endfor %}
</ul>