---
layout: base
---

<article itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <blockquote>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
    </blockquote>
  </header>

  <div itemprop="articleBody">

    {{ content }}

    {% if page.resources %}
      <hr>
      <strong><em>Sources</em></strong>
      <ul>
        {% for resource in page.resources %}
        <li>{{ resource | markdownify | strip_newlines | remove: '<p>' | remove: '</p>' }}</li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>

</article>
