---
layout: base
---

<h1>{{ site.title | escape }}</h1>
<div class="page-meta">
  {{- site.description | escape -}}
  {%- include social-links.html -%}
</div>

{{ content }}

<h2>Skills and Expertise</h2>

<ul class="word-cloud">
  {% for skill in page.skills %}
  {% assign skillSplit = skill | split: ", " %}
    {% if skillSplit.size > 1 %}
      <li class="word-cloud-w{{ skillSplit[1] }}">
    {% else %}
     <li class="word-cloud-w0">
    {% endif %}
    {{ skillSplit[0] | escape }}</li>
  {% endfor %}
</ul>